* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.txt text eol=lf
*.cs text eol=lf diff=csharp
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf whitespace=-blank-at-eol
*.unity text eol=lf whitespace=-blank-at-eol
*.prefab text eol=lf whitespace=-blank-at-eol
*.asset text eol=lf whitespace=-blank-at-eol
*.mat text eol=lf whitespace=-blank-at-eol
*.anim text eol=lf
*.controller text eol=lf
*.overrideController text eol=lf
*.playable text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.shader text eol=lf
*.compute text eol=lf
*.cginc text eol=lf
*.hlsl text eol=lf
*.uss text eol=lf
*.uxml text eol=lf
*.inputactions text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.blend binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
*.mov binary
*.ttf binary
*.otf binary

# Preserve the formatting of Unity's redistributed font support files.
"Assets/TextMesh Pro/**" whitespace=-blank-at-eol,-blank-at-eof
